*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    
}

.clear {
    clear: both;
}

@font-face {
    src: url(../fontes/PlayfairDisplay-VariableFont_wght.ttf);
    font-family: 'minhafonte';
}

.center {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-image: url('../imagens/capa.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.logo {
    float: left;
    margin: 20px;
    width: 64px;
    height: 64px;
    background-image: url('../imagens/graphic-design.png');
    background-position: center;
    background-size: 100% 100%;
   opacity: 0.7;
}

header nav.menu-desktop {
    float: right;
}

nav.menu-mobile {
    display: none;
}

nav.menu-desktop ul {
    list-style-type: none;
}

nav.menu-desktop li {
    float: left;
    padding: 30px 10px;  
    font-size: 22px;
}

nav.menu-desktop li a {
    text-decoration: none;
    color: white;
}

.chamada1 {
    max-width: 700px;
    float: right;
    padding: 60px 30px;
    margin-top: 0px;
}

.chamada1 h1 {
    color: white;
    font-size: 55px;
    font-family: 'minhafonte'; 
}

.chamada1 p {
    margin-top: 15px;
    font-size: 20px;
    color: white;
}

.info {
    padding: 0px 5%;
    color: white;
    background-color: rgb(96, 51, 105);
    height: 450px;
    position: relative;
}

.texto-info {
    float: left;
    width: 40%;
    padding: 40px 0px;
}

.texto-info h2 {
    font-size: 25px;
    font-family: "minhafonte";
}

.texto-info p {
    font-size: 18px;
    margin: 30px 0 20px 0;
}

.texto-info ul {
    font-size: 18px;
    list-style-position: inside;
}

.botao-info {
    background-color: violet;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    line-height: 44px;
    border-radius: 20px;
    font-size: 20px;
}

.device-info {
    float: right;
    width:60%;
    height: 530px;
    background-image: url('../imagens/device.png');
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    top: -80px;
    right: 30px;
}

.chamada2 {
    background-color: rgb(211, 164, 223);
    padding: 80px 2% 0px 2%;
    text-align: center;
}

.chamada2 h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.chamada2 p {
    font-size: 20px;
    width: 80%;
    display: inline-block;
}

.wraper-img {
    width: 100%;
    max-width: 1024px;
    border: 2ps solid white;
}
.chamada2 .img {
    width: 80%;
    padding-top: 45%;
    background-image: url('../imagens/tela.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    box-shadow:15px 15px 20px black;
}

.parte-esquerda {
    float: left;
    color: white;
    width: 50%;
    height: 100%;
    padding: 120px 0px 50px 0px;
    background-color: rgb(163, 77, 206);
}

.wraper-esquerda {
    float: right;
    width: 70%;
    padding-right: 20px;
}
.parte-esquerda h2 {
    font-style: italic;
    font-size: 30px;
}
.parte-esquerda p {
    line-height: 25px;
    font-size: 15px;
}

.parte-direita {
    float: left;
    /*background-color: rgb(211, 164, 223);*/
    width: 50%;
    height: 100%;
    padding: 120px 0px 50px 0px;
}

.sobre-autor {
    float: left;
    padding-left: 25px ;
    width: 90%;
    
}

.nome_foto-autor{
    width: 100%; 
}

.wraper-nome-autor {
    float: left;
}

.wraper-nome-autor h2 {
    font-family: 'minhafonte';
}

.wraper-nome-autor p {
    font-style: italic;
    padding-top: 2px;
} 

.nome_foto-autor .img-autor {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('../imagens/foto-autor.jpg');
    background-size: 100% 100%;
    margin-left: 20px;
    transform: translateY(-15%);
}

.texto-autor {
    margin-top: 10px;
    width: 70%;
}

.slider-bullets {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

.slider-bullets span {
    float: left;
    margin-right: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(141, 139, 139);
    cursor: pointer;
}

.chamada4 {
    background-color: rgb(70, 21, 116);
    padding: 85px 0;
}

.formulario {
    float: left;
    width: 50%;
    color: white;
}

.wraper-form {
    padding: 0 2%;
}

.formulario h2 {
    font-size: 34px;
}

.formulario p {
    font-size: 18px;
    margin: 5px 0 20px 0;
    width: 80%;
}

form input, form textarea {
    width: 90%;
    max-width: 480px;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    margin-bottom: 15px;
}

form input[type=submit] {
    background-color: rgb(216, 117, 216);
    border: 0;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 22px;
    border-radius: 20px;
    font-size: 20px;
}

.sessao-map {
    float: left;
    width: 49%;
    color: white;
}

.sessao-map h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.mapwrap1 {
    width: 100%;
    max-width: 480px;
    position: relative;
}

.mapwrap2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
}

.mapwrap2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 245, 250);
}

footer {
    background-color: rgb(67, 51, 99);
    padding: 40px 2%;
    text-align: center;
    color: white;
}

footer p {
    font-size: 18px;
    margin-bottom: 5px;

}

footer a {
    color: rgb(15, 187, 240);
}










@media screen and (max-width: 880px) {
    header nav.menu-desktop {
        float: none;
    }
    nav.menu-desktop ul {
        display: inline-block;
    }
    nav.menu-desktop ul li {
        
       padding: 30px 10px;
    } 
    .logo {
        display: inline-block;
        float: none;
    }
    header {
        text-align: center;
        height: auto;
    }
    .chamada1{
        width: 90%;
        padding: 50px 3%;
        float: none;
        display: inline-block;
    }

    .info {
        padding: 0 2%;
        text-align: center;
        height: 1036px;
    }
    .texto-info {
        float: none;
        width: 70%;
        margin: 0px auto ;
        padding: 50px 0;
    }

    .texto-info h2 {
       font-size: 35px; 
    }
    .texto-info p {
        font-size: 25px;
    }
    .texto-info li {
        font-size: 20px;
        width: 160px;
        margin: 5px auto;
        text-align: left;    
    }
    .botao-info {
        margin: 0px auto;
        margin-top: 60px;
    }
    .device-info {
        position: initial;
        float: none;
        width: 95%;
        height: 600px
    }
}










@media screen and (max-width: 780px) {
    .chamada1 {
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .chamada1 h1 {
        font-size: 40px;
        margin: 10px 0px 30px 0px;
    }
    nav ul li {
        font-size: 20px;
    }

    .info {
        height: auto;
    }

    .device-info {
        margin: 0 auto;
        height: 450px;
        width: 400px;
    }
    .parte-esquerda {
        width: 100%;
    }

    .wraper-esquerda {
       float: none;
       display: inline-block;
       width: 85%;
       padding-left: 20px;
    }

    .parte-direita {
        width: 100%;
    }

    .formulario{
        width: 100%;
        text-align: center;
    }

    .chamada4 .center {
        text-align: center;
    }

    .formulario p {
        margin: 10px auto;
        margin-bottom: 20px;
    }

    .sessao-map {
        float: none;
        width: 95%;
        display: inline-block;
        margin-top: 20px;
    }

    .mapwrap1 {
        width: 100%;
        padding-top: 80%;
        max-width: none;
        position: relative;
    }

    .mapwrap2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 0;
        height: 100%;
    }
}










@media screen and (max-width: 420px) {

    .device-info {
        height: 300px;
    }

    nav.menu-desktop {
        display: none;
    }

    .right-mobile {
        text-align: right;
    }

    nav.menu-mobile {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-image: url('../imagens/open-menu.png');
        background-position: center;
        background-size: 100% 100%;
        cursor: pointer;
        margin-right: 5px;
    }

    .menu-mobile:hover  ul {
        display: inline-block;
        opacity: 0.8;
    }

    .menu-mobile ul {
        opacity: 0;
        transition: opacity 1s;
        text-align: center;
        background-color: white;
        list-style-type: none;
        position: absolute;
        top: 93px;
        left: 50%;
        transform: translateX(-50%);
        width: 97%;
        border-radius: 10px;
    }
  
    .menu-mobile ul li {
        padding: 3px;
        border-bottom: 1px solid black;
    }

    .menu-mobile ul li:hover {
        background-color: rgb(148, 144, 144);
        transition: 0.6s;
    }

    .menu-mobile ul li a {
        text-decoration: none;
        color: black;
    }
    
    .botao-info {
        padding: 0px 3px;
    }
 
    .chamada2 .img {
        width: 90%;
        padding-top: 80%;
    }

    .device-info {
        margin: 0 auto;
        height: 330px;
        width: 280px;
    }
    
    .img-autor {
        margin-top: 20px;
    }

    .mapwrap1 {
        padding-top: 100%;
    }
}











